.controls {
    width: fit-content;
    max-width: 80%;
    height: 50px;
    border-radius: 10px;
    border: solid 0.75px dimgrey;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 2%;
    z-index: 101;
  }
  .chil-controls {
    margin: 5px 5px 5px 5px;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 15px 0 15px;
    cursor: pointer;
  }
  .chil-controls:hover {
    background-color: rgba(160, 73, 73, 0.829) !important;
  }
  .chil-controls .tooltiptext-map {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 12;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
  }
  .chil-controls .tooltiptext-map::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .control-map{
    background-image: url(~../images/icons/icon-map.png);
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; 
    background-position: center;
    background-repeat: no-repeat;
  }
  .control-map.active{
    background-image: url(~../images/icons/icon-map.png);
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; 
    background-position: center;
    background-repeat: no-repeat;
  }
  .thumb-control{
    background-image: url(~../images/icons/icon-details.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  .thumb-control.active{
    background-image: url(~../images/icons/icon-details-disable.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  .rotate-control.active{
    background-image: url(~../images/icons/icon-rotate-left-disable.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  .rotate-control{
    background-image: url(~../images/icons/icon-rotate-left.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fullscreen-control{
    background-image: url(~../images/icons/icon-fullscreen.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  .fullscreen-control.active{
    background-image: url(~../images/icons/icon-fullscreen-disable.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hideAll-control{
    background-image: url(~../images/icons/icon-arrow-right.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;  
    background-position: center;
    background-repeat: no-repeat;
  }
  .hideAll-control.active{
    background-image: url(~../images/icons/icon-arrow-left.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;  
    background-position: center;
    background-repeat: no-repeat;
  }
  .hidePoint-control{
    background-image: url(~../images/icons/icon-point.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; 
    background-position: center;
    background-repeat: no-repeat;
  }
  .hidePoint-control.active{
    background-image: url(~../images/icons/icon-point-disable.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; 
    background-position: center;
    background-repeat: no-repeat;
  }
  .help-control{
    background-image: url(~../images/icons/icon-help.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; 
    background-position: center;
    background-repeat: no-repeat;
  }
  #btn-zoom-in{
    background-image: url(~../images/icons/icon-zoom-in.png)  ;
    background-size: contain!important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; 
    background-position: center;
    background-repeat: no-repeat;
  }
  #btn-zoom-out{
    background-image: url(~../images/icons/icon-zoom-out.png)  ;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important; 
    background-position: center;
    background-repeat: no-repeat;
  }

  .div-help{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    background: white;
    /* padding-bottom: 40px; */
  }
  .div-help h4{
    text-align: center;
    font-weight: bold;
  }
  .div-help h5{
    font-weight: bold;
  }
  .div-help img {
    width: 90%;
    height: 400px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .div-help .div-img-help{
    background-image: url("~../images/help/help.png")  ;
    background-size: contain !important;
    max-width: 100%;
    width: 100%;
    height: 500px;
  }
  .div-help ol {
    padding-bottom: 25px;
  }
  @media only screen and (min-width: 950px) {
    .div-help img {
      height: 500px;
      width: 80%;
    }
  }
  @media only screen and (max-width: 450px) {
    .controls{
      max-width: 90%;
    }
  }