<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem ảnh 360 của bạn</title>
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/js/jquery/popper.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Tham quan SGU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul style="font-weight: bold;" class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a   class="nav-link" href="/">Xem cảnh trường <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="load360.html">Xem ảnh 360&#186; của bạn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="viewmodels.html">Xem mô hình trường</a>
              </li>
          </ul>
         
        </div>
      </nav>
      <div class="div-choose-file">
        <h4> Chọn hình ảnh 360 của bạn để xem</h4>
        <input id="input-file" multiple="false" type="file" accept="image/*" >
      </div>
      
    <img id="output-img" src="/" crossorigin="anonymous" alt="">
    <div class="show360"  >
    <canvas id="output-threejs" ></canvas>
    </div>
</body>
<!-- <script src="main.js" type="module"></script> -->

</html>