html,body{
    font-family: Helvetica, sans-serif, Arial, "Helvetica Neue";
}
.show360{
    width: 92%;
    height: 90vh !important;
    margin: auto;
    margin-bottom: 50px;
}
#output-threejs{
    max-width: 100%;
    max-height: 100%;
}
#input-file{

}
.div-choose-file{
    margin: 10px;
    padding-top: 15px;

}
.div-choose-file> h4{
   display: inline-block;
}
.div-choose-file> input{
    display: inline-block;
    margin-left: 25px;
 }